.hero {
  &__container {
    width: 90%;
    margin: 0 auto;
    @include media(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include media(desktop-m) {
      width: 100%;
      max-width: 1000px;
    }
  }
  padding-top: 70px;
  &__curriculum {
    width: 25%;
    margin-top: 10px;
    p {
      font-family: $font-title;
      font-weight: bold;
      font-size: 12px;
    }
    @include media(desktop-m) {
      width: 35%;
    }

    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $color-primary;
    }
  }

  &__skills {
    @include media(tablet) {
      width: 60%;
      margin: 0px 20px;
    }
    @include media(desktop-m) {
      width: 40%;
    }
  }
  &__work {
    width: 100%;
    height: auto;
    margin: 30px auto;
    img {
      width: 100%;
    }
  }
}

.jesusH {
  display: flex;
  height: auto;
  width: 90%;
  margin: 0 auto;
  @include media(tablet) {
    width: 40%;
  }
  @include media(desktop-m) {
    width: 60%;
  }
  margin-top: -10px;
  &__image {
    width: 25%;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
  &__description {
    margin-top: 10px;
    width: 70%;
    h1 {
      line-height: 30px;
      letter-spacing: 1px;
      color: $color-primary;
      @include media(desktop-m) {
        @include font-size(40px);
      }
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      letter-spacing: 1px;
      color: $color-second;
      transition: 0.3s ease all;
      @include font-size(15px);
      body.dark & {
        color: $color-second-dark;
      }
      @include media(desktop-s) {
        @include font-size(20px);
        line-height: 20px;
      }
    }
    p {
      text-align: left;
      @include media(desktop-s) {
        margin-top: 10px;
        @include font-size(17px);
        letter-spacing: 1px;
      }
    }
  }
}
